@font-face {
  font-family: 'FK Raster Roman Compact';
  font-weight: 400;
  src: url('vendor/fonts/FKRasterRomanCompact-Sharp.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'FK Raster Roman Compact', 'Helvetica Neue', sans-serif;
  touch-action: pan-x pan-y;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

iframe {
  pointer-events: none;
}
